/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Arial Narrow';  
}

body {
    background-color: aliceblue;
}
/* Header with Mobile-First Approach*/
header {
    background-color: black;
}

.headContainer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #F7941D;
    align-items: center;
    padding: 5px;
}

.headerLogo {
    display: flex;
    flex-direction: row;
}

.headerLogo img {
    width: 60px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul a {
    color: #448ECC;
    width: 70px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #448ECC;
    border-radius: 0 0 10px 0;
    margin: 0 2px 0 2px;
}

/* Hero Image */
.heroImage {
    background-image: url(../images/keyboard.jpg);
    background-size: cover;
    background-position: bottom;  
}

.heroContainer {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-height: 100px;
}

.heroImage img {
    width: 100px;
    align-self: start;
    border: 2px solid #F7941D;
    border-radius: 50%;
    margin: 10px;
}

.heroImage h2 {
    width: 200px;
    text-align: right;
    font-size: 0.8em;
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 25px 10px 0;
}

/* About Me  & Contact Me Styling*/
.aboutMe, .contactMe, .work {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.aboutTitle, .contactTitle, .workTitle {
    font-size: 1.2em;
    border-bottom: 3px solid #F7941D;
    border-radius: 0 0 10px 0;
    width: 90%;
    text-align: center;
}
.aboutText,  .contactText {
    padding: 10px;
    font-weight:500;
}

/* My Work */
.workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 1.5fr) repeat(4, minmax(150px, 1fr));
    grid-template-areas:
        "WebDevelopment"
        "GarminDevelopment"
        "Animation"
        "LogoDesigns"
        "JakesEatery";
    padding: 10px;
    width: 100%;
}

.workGrid a {
    color: black;
}

.workCard {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
    border: 2px solid #F7941D;
    border-radius: 4px;
    background-size: cover;
    background-position: top;
}

#WebDevelopment {
    grid-area: WebDevelopment;
    background-image: url(../images/FurnitureStore.png);
}

#GarminDevelopment {
    grid-area: GarminDevelopment;
    background-image: url(../images/Garmin.png);
}

#Animation {
    grid-area: Animation;
    background-image: url(../images/LogoAnimation.png);
}

#LogoDesigns {
    grid-area: LogoDesigns;
    background-image: url(../images/LogoSet.png);
}

#JakesEatery {
    grid-area: JakesEatery;
    background-image: url(../images/JakesEatery.png);
}

.workCardBox {
    background-color: rgba(247, 148, 29, 0.9);
    border-radius: 0 5px 5px 0;
    width: 140px;
    padding: 5px;
    margin-bottom: 20px;
}
.workCardBox p {
    font-size: 0.6em;
}

/* Contact Me Section */
.contactText li {
    margin: 6px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.contactText li a {
    color: #F7941D;
    border-bottom: 2px solid #448ECC;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    min-height: 40px;
    color: #F7941D;
}

footer h6 {
    font-size: 1em;
}

footer img {
    height: 30px;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
    .aboutMe, .contactMe {
        flex-direction: row;
        align-items: center;
        justify-content: right;
        text-align: right;
    }

    .aboutTitle, .contactTitle{
        display: flex;
        align-self: stretch;
        justify-content: right;
        text-align: left;
        border-right: 3px solid #F7941D;
        border-bottom: none;
        border-radius: 0 10px 0 0;
        text-align: right;
        width: 25%;
        padding: 10px;
        margin-top: 10px;
    }

    .aboutText,  .contactText {
        padding: 10px;
        font-weight:500;
        width: 75%;
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {  
    .headContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .workGrid {
        width: 90%;
    }
}

@media only screen and (min-width: 720px) { 
    .workGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(300px, 2fr) repeat(2, minmax(200px, 1fr));
        grid-template-areas:
            "WebDevelopment WebDevelopment"
            "GarminDevelopment Animation"
            "LogoDesigns JakesEatery";
        grid-gap: 10px;
    }
    
    .workGrid a {
        font-size: 1.1em;
    }
} 